{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row">
              <div class="col-sm-4" >
                <div data-slider-id="1" class="owl-thumbs">
                    <button class="owl-thumb-item"><img src="{{ ob.image.url }}" alt="" class="img-fluid"></button>
                  </div>
                </div>

                <h2 align="center" ><b>
                      <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
              <h2><b>{{ob.name}}</b></h2>
                  <h2><i><b>{{ob.description}}</b></i></h2>
                  <h2><b>${{ob.price}}</b></h2>
                <h2><b>Product details</b></h2>
                    <ul>
                        <h2><b>Colour : {{ob.color}}</b></h2>
                        <h2><b>Type : {{ob.type}}</b></h2>
                         <h2><b>Neck : {{ob.neck}}</b></h2>
                        <h2><b>Sleeve : {{ob.sleeve}}</b></h2>
                        <h2><b>Material : {{ob.material}}</b></h2>
                        <h2><b>Size : {{ob.size}}</b></h2>
                    </ul>
                      <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>

                       <a class="btn hvr-hover" href="{% url 'dresses:booking' %}">SHOP NOW</a>


                </b> </h2>
</div>

    <div id="copyright">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <p class="text-center text-lg-right">Template design by <a href="https://bootstrapious.com/">Bootstrapious</a>
              <!-- If you want to remove this backlink, pls purchase an Attribution-free License @ https://bootstrapious.com/p/obaju-e-commerce-template. Big thanks!-->
            </p>
          </div>
        </div>
      </div>
    </div>

{% endblock %}
